:root {
    --c-white: #ffffff;
    --c-white-dark: #f8f8f8;
    --c-black: #000000;
    --c-divider-light: rgba(60, 60, 67, .12);
    --c-divider-dark: rgba(84, 84, 88, .48);
    --c-text-light-1: #2c3e50;
    --c-text-light-2: #476582;
    --c-text-light-3: #90a4b7;
    --c-brand: #3eaf7c;
    --c-brand-light: #4abf8a;
    --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    --font-family-mono: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    --z-index-navbar: 10;
    --z-index-sidebar: 6;
    --shadow-1: 0 1px 2px rgba(0, 0, 0, .04), 0 1px 2px rgba(0, 0, 0, .06);
    --shadow-2: 0 3px 12px rgba(0, 0, 0, .07), 0 1px 4px rgba(0, 0, 0, .07);
    --shadow-3: 0 12px 32px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .08);
    --shadow-4: 0 14px 44px rgba(0, 0, 0, .12), 0 3px 9px rgba(0, 0, 0, .12);
    --shadow-5: 0 18px 56px rgba(0, 0, 0, .16), 0 4px 12px rgba(0, 0, 0, .16);
    --header-height: 3.6rem
}

:root {
    --c-divider: var(--c-divider-light);
    --c-text: var(--c-text-light-1);
    --c-text-light: var(--c-text-light-2);
    --c-text-lighter: var(--c-text-light-3);
    --c-bg: var(--c-white);
    --c-bg-accent: var(--c-white-dark);
    --code-line-height: 24px;
    --code-font-family: var(--font-family-mono);
    --code-font-size: 14px;
    --code-inline-bg-color: rgba(27, 31, 35, .05);
    --code-bg-color: #282c34
}







* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    max-width: 100%;
    line-height: 160%;
    font-size: 62.5%;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    background: #fff;
    color: #676767;
    font-style: normal;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body._lock {
    overflow: hidden;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    background: transparent;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}



.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

.container {
    max-width: 123rem;
    margin: 0px auto;
    padding: 0px 15px;
}